*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* 한글 단어는 안잘리면서 영어는 잘라서아도 해결해주는 방법 */
  /* word-break: keep-all; */
  /* overflow-wrap: anywhere; */
  /* 알빠노? 한들이라도 단어 잘라서 줄바꿈 */
  word-break: break-all;
  overflow-wrap: anywhere;
  margin: 0;
}

p {
  margin: 0%;
}

.root {
  height: 100dvh;
  border: 0.0625rem solid #000;
  overflow-x: hidden;
  overflow-y: scroll;
}

.section {
  min-height: 1rem;
  background-color: hsla(0, 100%, 50%, 0.1);
}

.nowrap {
  white-space: nowrap;
}
img {
  display: block;
  max-width: 100%;
}

.section {
  padding-top: 3rem;
  max-width: 1024px;
}

.section > * {
  max-width: 1024px;
}
#section-1 {
  padding-block: 5rem;
}
